.DS_Store
forever
flasher.log
flasher.status
flasher.stats
flasher
dimmer*
*.json
node_modules
weather.txt
directGpio/directGpio
directGpio/directGpio2
directGpio/macTests
directGpio/macTests2
directGpio/macClang
directGpio/macClang.*
directGpio/directGpio.ll
