<% include partials/head %>
<title>light control</title>
<link rel="icon" href="/res/favicon.png">
<link rel="apple-touch-icon" href="/res/iOSHomeScreenIcon.png">
<link rel="apple-touch-startup-image" href="/res/iOSLaunchScreenIcon.png">

<header>
<div id='pageTitle'>light control</div>
</header>

<main>
	<p>
Lamp Brightness <input type='range' id='lamp' name='brightness' min='0' max='128' disabled defaultValue='<%=lampBrightness%>'>
	</p>
</main>

<footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/lights.js"></script>
</footer>